ipyannotations==0.5.1
ipython==8.12.3
ipywidgets==7.7.2
leafmap==0.43.8
matplotlib==3.7.5
numpy==2.2.6
pandas==2.2.3
Pillow==11.2.1
rasterio==1.4.3
Requests==2.32.3
setuptools==75.8.0
Shapely==2.1.1
tqdm==4.67.1
geojson==2.5.0
geopandas==1.0.1